body {
    font-family: 'Allerta Stencil', sans-serif;
}


/*-----------------------------------------------------------------------------------------------
----------------------------------------MENU---------------------------------------------------------
------------------------------------------------------------------------------------------------*/
.navigation__link span {
    display: none;
}

.navigation__checkbox {
    display: none;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000;
    background-color: #80bef3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.logo {
    color: #fff;
    line-height: 50px;
    font-size: 1.8rem;
    float: left;
    margin: 10px 0;
}

.navigation__nav {
    float: right;
    margin: 10px 0;
}

.navigation__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigation__item {
    list-style: none;
}

.navigation__link {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.navigation__link:hover,
.navigation__link.active {
    color: #fff;
    text-decoration: none;
    background-position: 100%;
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f55872 50%);
    background-size: 230%;
    -webkit-transition: all .7s;
    transition: all .7s;
}

@media (max-width:991px) {


    .navigation {
        width: 15vw;
    }

    .logo {
        font-size: 1.5rem;
        margin: 0;
    }

    .navigation__button {
        background-image: -webkit-gradient(linear, left top, right top, from(#698beb), color-stop(#6ba6f2), color-stop(#80bef3), color-stop(#a2d4f3), to(#cbe8f4));
        background-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 3rem;
        right: 3rem;
        border-radius: 50%;
        z-index: 3000;
        -webkit-box-shadow: 0 1rem 3rem rgba(#000, .1);
        box-shadow: 0 1rem 3rem rgba(#000, .1);
        text-align: center;
        cursor: pointer;
    }

    .navigation__background {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        background-image: -webkit-gradient(linear, left top, right top, from(#698beb), color-stop(#6ba6f2), color-stop(#80bef3), color-stop(#a2d4f3), to(#cbe8f4));
        background-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
        z-index: 2000;
        -webkit-transition: -webkit-transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: -webkit-transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    .navigation__nav {
        opacity: 0;
        height: 100vh;
        width: 0;
        float: right;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 2200;
        -webkit-transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navigation__list {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        list-style: none;
        width: 100%;
        display: inherit;
        display: grid;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .navigation__link {
        margin: 1rem 0;
    }

    .navigation__link:link,
    .navigation__link:visited {
        font-size: 2.4rem;
    }

    .navigation__link:link span,
    .navigation__link:visited span {
        margin-right: 1.5rem;
        display: inline-block;
    }

    /*FUNCTIONALITY*/
    .navigation__checkbox:checked ~ .navigation__background {
        -webkit-transform: scale(80);
        transform: scale(80);
    }

    .navigation__checkbox:checked ~ .navigation__nav {
        opacity: 1;
        width: 100%;
        left: 0;
    }


    /*ICON*/
    .navigation__icon {
        position: relative;
        margin-top: 2.5rem;
    }

    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
        width: 2.5rem;
        height: 3px;
        background-color: #333;
        display: inline-block;
    }

    .navigation__icon::before,
    .navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .navigation__icon::before {
        top: -.8rem;
    }

    .navigation__icon::after {
        top: .8rem;
    }


    .navigation__button:hover .navigation__icon::before {
        top: -1rem;
    }

    .navigation__button:hover .navigation__icon::after {
        top: 1rem;
    }

    .navigation__checkbox:checked + .navigation__button .navigation__icon {
        background-color: transparent;
    }

    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
        top: 0;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        bottom: 0;
    }

    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
        position: absolute;
        top: 0;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

}



/*------------------------------SLIDER--------------------------------------*/

.slider-title {
    position: absolute;
    top: 55%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
}

.slider img {
    width: 100%;
    height: 60vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.transparency {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 29, 29, 0.3)), color-stop(35%, rgba(37, 29, 29, 0.4)), color-stop(75%, rgba(86, 58, 58, 0.28)), to(transparent));
    background-image: linear-gradient(rgba(37, 29, 29, 0.3) 0%, rgba(37, 29, 29, 0.4) 35%, rgba(86, 58, 58, 0.28) 75%, transparent 100%);
}

/*------------------------------SOCIAL MEDIA ICON--------------------------------------*/

.icon {
    height: 12vh;
    display: grid;
}

.icon ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1%;
}

.icon ul li {
    position: relative;
    list-style: none;
    margin: 0 10px;
}

.icon ul li:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 50px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.icon ul li:hover:before {
    opacity: .2;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.icon ul li a {
    width: 50px;
    height: 50px;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #ccc;
}

.icon ul li:hover a {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.icon ul li a span {
    width: 100%;
    height: 100%;
}

.icon ul li a span:before {
    font-family: fontAwesome;
    font-size: 1.4rem;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#cdffc8), color-stop(#bbffb6), color-stop(#a8ffa4), color-stop(#92ff92), to(#7aff80));
    background-image: linear-gradient(to right, #cdffc8, #bbffb6, #a8ffa4, #92ff92, #7aff80);
    color: #262626;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.icon ul li:hover a span:before {
    -webkit-transform: rotateX(90deg) translateY(-50%);
    transform: rotateX(90deg) translateY(-50%);
}

.icon ul li a span:after {
    font-family: fontAwesome;
    font-size: 1.4rem;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #fff;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: rotateX(90deg) translateY(50%);
    transform: rotateX(90deg) translateY(50%);
}

.icon ul li:hover a span:after {
    -webkit-transform: rotateX(0deg) translateY(0);
    transform: rotateX(0deg) translateY(0);
}

.icon ul li:nth-child(1) a span:before,
.icon ul li:nth-child(1) a span:after {
    content: '\f09a';
}

.icon ul li:nth-child(2) a span:before,
.icon ul li:nth-child(2) a span:after {
    content: '\f099';
}

.icon ul li:nth-child(3) a span:before,
.icon ul li:nth-child(3) a span:after {
    content: '\f16d';
}

.icon ul li:nth-child(4) a span:before,
.icon ul li:nth-child(4) a span:after {
    content: '\f0d5';
}

.icon ul li:nth-child(5) a span:before,
.icon ul li:nth-child(5) a span:after {
    content: '\f0e1';
}

.icon ul li:nth-child(1) a span:after {
    background: #3b5999;
}

.icon ul li:nth-child(2) a span:after {
    background: #55acce;
}

.icon ul li:nth-child(3) a span:after {
    background: #dd4b39;
}

.icon ul li:nth-child(4) a span:after {
    background: #0077b5;
}

.icon ul li:nth-child(5) a span:after {
    background: #e4405f;
}



/*-----------------------------------------------------------------------------------------*/
/*----------------------------------------ABOUT--------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

.about {
    width: 90%;
    -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    -webkit-transform: skewX(-12deg);
    transform: skewX(-12deg);
    border-bottom: 3px solid transparent;
    -o-border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    border-image: -webkit-gradient(linear, left top, right top, from(#698beb), color-stop(#6ba6f2), color-stop(#80bef3), color-stop(#a2d4f3), to(#cbe8f4));
    border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    border-image-slice: 1;
    margin: 3rem auto;
}

.about__shape {
    width: 8rem;
    height: 8rem;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    -webkit-transform: translateX(-1rem) skewX(12deg);
    transform: translateX(-1rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: -40px auto 20px auto;
    border: 4px solid #7aff80;
}

.about__img {
    height: 100%;
    -webkit-transform: translateX(-4rem) scale(1.4);
    transform: translateX(-4rem) scale(1.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.about__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.about__text {
    -webkit-transform: skewX(12deg);
    transform: skewX(12deg);
    margin-bottom: 1.5rem;
}

.about:hover .about__caption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about:hover .about__img {
    -webkit-transform: translateX(-4rem) scale(1);
    transform: translateX(-4rem) scale(1);
    -webkit-filter: blur(3px) brightness(80%);
    filter: blur(3px) brightness(80%);
}




/*--------------------------------------------------------------------------------*/
/*---------------------------------FOOTER-----------------------------------------*/
/*--------------------------------------------------------------------------------*/

footer {
    background-color: #333;
    color: #f7f7f7;
    height: auto;
}

footer h2,
h3,
h4 {
    letter-spacing: .3rem;
}

.footer__list {
    border-top: 1px solid #777;
}

.footer__item:not(:last-child) {
    margin-right: 1.5rem;
}

.footer__copyright {
    border-top: 1px solid transparent;
    letter-spacing: .1rem;
    -o-border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    border-image: -webkit-gradient(linear, left top, right top, from(#698beb), color-stop(#6ba6f2), color-stop(#80bef3), color-stop(#a2d4f3), to(#cbe8f4));
    border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    border-image-slice: 1;
}

.footer__link:link,
.footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.footer__link:hover,
.footer__link:active {
    color: #55c57a;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
    -webkit-transform: rotate(5deg) scale(1.3);
    transform: rotate(5deg) scale(1.3);
}

hr {

    border-top: 1px solid transparent;
    letter-spacing: .1rem;
    -o-border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    border-image: -webkit-gradient(linear, left top, right top, from(#698beb), color-stop(#6ba6f2), color-stop(#80bef3), color-stop(#a2d4f3), to(#cbe8f4));
    border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    border-image-slice: 1;

}



/*-----------------------------------------------------------------------------------------------
----------------------------------------MEDIA QUERIES--------------------------------------------
------------------------------------------------------------------------------------------------*/


@media (max-width: 575.98px) {

    .logo {
        font-size: 1.1rem;
    }

    .navigation {
        width: 20vw;
    }

    .slider-title h1 {
        font-size: 1.5rem;
    }

    .slider-title h2 {
        font-size: 1rem;
    }

    .slider img {
        max-height: 40vh;
    }

    .icon ul li:before {
        width: 35px;
    }

    .icon ul li a {
        width: 35px;
        height: 35px;
    }

    .icon ul li a span:before,
    .icon ul li a span:after {
        font-size: 1.2rem;
        line-height: 38px;
    }

    .icon ul li a span:after .services-item img {
        height: 17rem;
        padding: 0 15px 0 15px;
    }

    .panel-first img {
        height: 30vh;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {

    .slider-title h1 {
        font-size: 1.7rem;
    }

    .slider-title h2 {
        font-size: 1.2rem;
    }

    .slider img {
        max-height: 40vh;
    }

    .panel-first img {
        height: 35vh;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    .slider-title h1 {
        font-size: 2rem;
    }

    .slider-title h2 {
        font-size: 1.5rem;
    }

}
