/*--------------------------------Navbar--------------------------------------*/


.navbar {
    background-image: linear-gradient(to right, #cdffc8, #bbffb6, #a8ffa4, #92ff92, #7aff80);
}



/*------------------------------SLIDER--------------------------------------*/

.slider img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    object-position: top;
}

/*------------------------------Panel - FIRST--------------------------------------*/

.panel-first img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    object-position: top;
}




/*----------------------------Thematic Break (Horizontal Rule) element--------------------------------------*/


hr {
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    border-image-slice: 1;
}

/*------------------------------SOCIAL MEDIA ICON--------------------------------------*/

.icon {
    height: 20vh;
    display: grid;
}

.icon ul {
    display: flex;
    margin: 1%;
}

.icon ul li {
    position: relative;
    list-style: none;
    margin: 0 10px;
}

.icon ul li:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 50px;
    height: 8px;
    background: #000;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}

.icon ul li:hover:before {
    opacity: .2;
    transform: scale(1);
}

.icon ul li a {
    width: 50px;
    height: 50px;
    display: block;
    transition: 0.5s;
    background: #ccc;
}

.icon ul li:hover a {
    transform: translateY(-10px);
}

.icon ul li a span {
    width: 100%;
    height: 100%;
}

.icon ul li a span:before {
    font-family: fontAwesome;
    font-size: 1.4rem;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #cdffc8, #bbffb6, #a8ffa4, #92ff92, #7aff80);
    color: #262626;
    transform-origin: top;
    transition: transform 0.5s;
}

.icon ul li:hover a span:before {
    transform: rotateX(90deg) translateY(-50%);
}

.icon ul li a span:after {
    font-family: fontAwesome;
    font-size: 1.4rem;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}

.icon ul li:hover a span:after {
    transform: rotateX(0deg) translateY(0);
}

.icon ul li:nth-child(1) a span:before,
.icon ul li:nth-child(1) a span:after {
    content: '\f09a';
}

.icon ul li:nth-child(2) a span:before,
.icon ul li:nth-child(2) a span:after {
    content: '\f099';
}

.icon ul li:nth-child(3) a span:before,
.icon ul li:nth-child(3) a span:after {
    content: '\f16d';
}

.icon ul li:nth-child(4) a span:before,
.icon ul li:nth-child(4) a span:after {
    content: '\f0d5';
}

.icon ul li:nth-child(5) a span:before,
.icon ul li:nth-child(5) a span:after {
    content: '\f0e1';
}

.icon ul li:nth-child(1) a span:after {
    background: #3b5999;
}

.icon ul li:nth-child(2) a span:after {
    background: #55acce;
}

.icon ul li:nth-child(3) a span:after {
    background: #dd4b39;
}

.icon ul li:nth-child(4) a span:after {
    background: #0077b5;
}

.icon ul li:nth-child(5) a span:after {
    background: #e4405f;
}



/*---------------------------------FOOTER-----------------------------------------*/

footer {
    background-color: #333;
    color: #f7f7f7;
    height: auto;
}

footer h2,
h3,
h4 {
    letter-spacing: .3rem;
}

.footer__list {
    border-top: 1px solid #777;
}

.footer__item:not(:last-child) {
    margin-right: 1.5rem;
}

.footer__copyright {
    border-top: 1px solid transparent;
    letter-spacing: .1rem;
    border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    border-image-slice: 1;
}

.footer__link:link,
.footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
}

.footer__link:hover,
.footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
    transform: rotate(5deg) scale(1.3);
}
