<<<<<<< HEAD
/*-----------------------------------------------------------------------------------------------
----------------------------------------MENU-----------------------------------------------------
------------------------------------------------------------------------------------------------*/

.navigation__checkbox {
    display: none;
=======
body {
    font-family: 'Allerta Stencil', sans-serif;
}

/*--------------------------------Navbar--------------------------------------*/

.navbar {
    background-image: linear-gradient(to right, #cdffc8, #bbffb6, #a8ffa4, #92ff92, #7aff80);
>>>>>>> master
}

.navigation__button {
    background-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(#000, .1);
    text-align: center;
    cursor: pointer;
}

.navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

<<<<<<< HEAD
.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: start;
    width: 100%;
    margin-left: 40%;
}

/*
.navigation__item {
    margin: 1rem;
=======
.carousel-box img {
    max-height: 60vh;
    object-fit: cover;
    object-position: top;
}

.carousel-first {
    position: absolute;
    top: 0;
    bottom: 0;
}

.carousel-first h2 {
    position: absolute;
    top: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    margin: 0;
}

.carousel-first a {
    position: relative;
    top: 70%;
}


/*--------------------------------SERVICES--------------------------------------*/
.services-item {
    height: 20rem;
}

.services-item img {
    object-fit: cover;
}

/*--------------------------------RESERVATION--------------------------------------*/

.reservation img {
    max-height: 55vh;
    object-fit: cover;
    -webkit-clip-path: polygon(15% 0, 100% 0%, 100% 70%, 85% 100%, 0% 100%, 0 30%);
    clip-path: polygon(15% 0, 100% 0%, 100% 70%, 85% 100%, 0% 100%, 0 30%);
}

.reservation-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


/*--------------------------------TEAM--------------------------------------*/
.team img {
    max-height: 55vh;
    object-fit: cover;
    -webkit-clip-path: polygon(0% 0%, 85% 0, 100% 30%, 99% 100%, 15% 100%, 0 70%);
    clip-path: polygon(0% 0%, 85% 0, 100% 30%, 100% 100%, 15% 100%, 0 70%);
>>>>>>> master
}
*/

.team-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

<<<<<<< HEAD
.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f55872 50%);
    background-size: 230%;
    transition: all .4s;
}

.navigation__link:link span,
.navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block;
=======
/*--------------------------------INF--------------------------------------*/


.inf {
    height: 45vh;
}

.inf img {
    object-fit: cover;
}

/*--------------------------------BLOG--------------------------------------*/


.blog-title {
    display: inline-block;
    background-image: linear-gradient(to right, #698beb, #589df0, #53adf1, #5ebcef, #73c9ec);
    -webkit-background-clip: text;
    color: transparent;
}

.blog {
    height: 45vh;
}

.blog img {
    object-fit: cover;
}

/*--------------------------------Text position on image--------------------------------------*/

.img-opacity {
    opacity: .7;
>>>>>>> master
}


.navigation__link:hover,
.navigation__link:active {
    background-position: 100%;
    /*color: #698BEB;*/
    transform: translateX(1rem);
}


/*FUNCTIONALITY*/
.navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
}

<<<<<<< HEAD
.navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
}

/*ICON*/
.navigation__icon {
=======
/*------------------------------SOCIAL MEDIA ICON--------------------------------------*/

.icon {
    height: 20vh;
    display: grid;
}

.icon ul {
    display: flex;
    margin: 1%;
}

.icon ul li {
>>>>>>> master
    position: relative;
    margin-top: 3.5rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.navigation__icon::before {
    top: -.8rem;
}

.navigation__icon::after {
    top: .8rem;
}


.navigation__button:hover .navigation__icon::before {
    top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);

}








/*--------------------------------------------------------------------------------
                                        MEDIA
-----------------------------------------------------------------------------------*/




@media (max-width: 575.98px) {

    .carousel-first h2 {
        font-size: 1rem;
    }

    .services-item img {
        height: 17rem;
        padding: 0 15px 0 15px;
    }

    .reservation img,
    .team img,
    .inf img {
        padding: 0 15px 0 15px;
    }

    .inf,
    .blog {
        height: 20rem;
    }

    .blog-title h1 {
        font-size: 1.8rem;
    }

    footer h2 {
        font-size: 1.8rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .carousel-first h2 {
        font-size: 1.3rem;
    }

    #services {
        max-width: 640px;
    }

    .services-item {
        height: 270px;
    }

    .blog-title h1 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .carousel-first h2 {
        font-size: 1.6rem;
    }
}
