/*------------------------------SLIDER--------------------------------------*/

.slider-title {
	position: absolute;
	top: 55%;
	-webkit-transform: translateY(-55%);
	transform: translateY(-55%);
}

.slider img {
	width: 100%;
	height: 60vh;
	-o-object-fit: cover;
	object-fit: cover;
}

.transparency {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 29, 29, 0.3)), color-stop(35%, rgba(37, 29, 29, 0.4)), color-stop(75%, rgba(86, 58, 58, 0.28)), to(transparent));
	background-image: linear-gradient(rgba(37, 29, 29, 0.3) 0%, rgba(37, 29, 29, 0.4) 35%, rgba(86, 58, 58, 0.28) 75%, transparent 100%);
}


/*------------------------------Panel - FIRST--------------------------------------*/

.panel-first img {
	width: 100%;
	height: 55vh;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

/*------------------------------Panel - SECOND--------------------------------------*/


.panel-second {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-o-border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
	border-image: -webkit-gradient(linear, left top, right top, from(#698beb), color-stop(#6ba6f2), color-stop(#80bef3), color-stop(#a2d4f3), to(#cbe8f4));
	border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
	border-image-slice: 1;
}

/*------------------------------Panel - THIRD--------------------------------------*/
.panel-third {
	border-bottom: 3px solid transparent;
	-o-border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
	border-image: -webkit-gradient(linear, left top, right top, from(#698beb), color-stop(#6ba6f2), color-stop(#80bef3), color-stop(#a2d4f3), to(#cbe8f4));
	border-image: linear-gradient(to right, #698beb, #6ba6f2, #80bef3, #a2d4f3, #cbe8f4);
	border-image-slice: 1;
	margin-bottom: 3rem;
}

.panel-third:hover,
.panel-third:active {
	color: #55c57a;
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
	-webkit-transform: rotate(5deg) scale(1.3);
	transform: rotate(5deg) scale(1.3);
	-webkit-transition: all .6s;
	transition: all .6s;
	background-color: #fff;
	border-bottom: 3px solid transparent;
	-o-border-image: linear-gradient(to right, #f55872, #f87085, #f98698, #fa9bab, #f9afbc);
	border-image: -webkit-gradient(linear, left top, right top, from(#f55872), color-stop(#f87085), color-stop(#f98698), color-stop(#fa9bab), to(#f9afbc));
	border-image: linear-gradient(to right, #f55872, #f87085, #f98698, #fa9bab, #f9afbc);
	border-image-slice: 1;
}

.panel-third img {
	margin-bottom: 1rem;
	max-width: 10rem;
	max-height: 10rem;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*-----------------------------------------------------------------------------------------------
----------------------------------------MEDIA QUERIES--------------------------------------------
------------------------------------------------------------------------------------------------*/


@media (max-width: 575.98px) {

	.logo {
		font-size: 1.1rem;
	}

	.slider-title h1 {
		font-size: 1.5rem;
	}

	.slider-title h2 {
		font-size: 1rem;
	}

	.slider img {
		max-height: 40vh;
	}

	.icon ul li:before {
		width: 35px;
	}

	.icon ul li a {
		width: 35px;
		height: 35px;
	}

	.icon ul li a span:before,
	.icon ul li a span:after {
		font-size: 1.2rem;
		line-height: 38px;
	}

	.icon ul li a span:after .services-item img {
		height: 17rem;
		padding: 0 15px 0 15px;
	}

	.panel-first img {
		height: 30vh;
	}

	.panel-third {
		width: 70%;
	}

}

@media (min-width: 576px) and (max-width: 767.98px) {

	.slider-title h1 {
		font-size: 1.7rem;
	}

	.slider-title h2 {
		font-size: 1.2rem;
	}

	.slider img {
		max-height: 40vh;
	}

	.panel-first img {
		height: 35vh;
	}

}

@media (min-width: 768px) and (max-width: 991.98px) {

	.slider-title h1 {
		font-size: 2rem;
	}

	.slider-title h2 {
		font-size: 1.5rem;
	}

}
