/*------------------------------SLIDER--------------------------------------*/

.slider-title {
	position: absolute;
	top: 55%;
	-webkit-transform: translateY(-55%);
	transform: translateY(-55%);
}

.slider img {
	width: 100%;
	height: 60vh;
	-o-object-fit: cover;
	object-fit: cover;
}

/*------------------------------Panel - THIRD--------------------------------------*/
.panel-third {
	margin-bottom: 3rem;
	background-color: #fff;
	height: 23rem;
}

.panel-third:hover,
.panel-third:active {
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all .6s;
	transition: all .6s;
}

.panel-third img {
	margin-bottom: 1rem;
	width: 100%;
	height: 70%;
	-o-object-fit: cover;
	object-fit: cover;
}

/*-----------------------------------------------------------------------------------------------
----------------------------------------MEDIA QUERIES--------------------------------------------
------------------------------------------------------------------------------------------------*/

@media (max-width: 575.98px) {

	.logo {
		font-size: 1.1rem;
	}

	.navigation {
		width: 20vw;
	}

	.slider-title h1 {
		font-size: 1.5rem;
	}

	.slider-title h2 {
		font-size: 1rem;
	}

	.slider img {
		max-height: 40vh;
	}

	.icon ul li:before {
		width: 35px;
	}

	.icon ul li a {
		width: 35px;
		height: 35px;
	}

	.icon ul li a span:before,
	.icon ul li a span:after {
		font-size: 1.2rem;
		line-height: 38px;
	}

	.icon ul li a span:after .services-item img {
		height: 17rem;
		padding: 0 15px 0 15px;
	}

	.panel-first img {
		height: 30vh;
	}

	.panel-third {
		width: 70%;
	}

}

@media (min-width: 576px) and (max-width: 767.98px) {

	.slider-title h1 {
		font-size: 1.7rem;
	}

	.slider-title h2 {
		font-size: 1.2rem;
	}

	.slider img {
		max-height: 40vh;
	}

	.panel-first img {
		height: 35vh;
	}

}

@media (min-width: 768px) and (max-width: 991.98px) {

	.slider-title h1 {
		font-size: 2rem;
	}

	.slider-title h2 {
		font-size: 1.5rem;
	}

}
